{{output}}

<div id='reservations'>
<div id='specifics'>

{{area-svg id='map' area=model}}

<h2>Reserve {{model.name}}:</h2>
<ul>
  <li>From:</li>
  <li>To:</li>
  <li>Fair Price:</li>
</ul>
</div>


<div id='calendar'>
{{!un-calendar showPrevMonth=false showNextMonth=false}}

{{as-calendar
  showHeader=false
  occurrences=occurrences
  defaultTimeZoneQuery="New York|London|Dubai|Hong Kong"
  dayStartingTime="6:00"
  dayEndingTime="24:00"
  timeSlotDuration="00:30"
  onAddOccurrence="calendarAddOccurrence"
  onUpdateOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"}}
</div>
</div>
