{{output}}

<div id='reservations'>
{{area-svg id='map' area=model}}

{{!un-calendar showPrevMonth=false showNextMonth=false}}

{{as-calendar
  showHeader=false
  occurrences=occurrences
  defaultTimeZoneQuery="New York|London|Dubai|Hong Kong"
  dayStartingTime="9:00"
  dayEndingTime="18:00"
  timeSlotDuration="00:30"
  onAddOccurrence="calendarAddOccurrence"
  onUpdateOccurrence="calendarUpdateOccurrence"
  onRemoveOccurrence="calendarRemoveOccurrence"}}
</div>
