@import 'addons/ember-calendar/main';

html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

body > .ember-view {
    height: 100%;
    max-width: 65em;
    margin: auto;
}

#reservations, #map {
    height: 100%;
}

#reservations #map, #reservations .un-calendar {
    width: 100%;
}

#reservations .as-calendar {
    max-width: 55%;
    
    li:nth-child(5), li:nth-child(6), li:nth-child(7) {
        display: none;
    }

    .as-calendar-timetable {
        .day-labels, .days {
            li {
                width: (100 / 4 / 100) * 100%;
            }
        }
    }
}

#reservations .un-calendar {
    max-width: 40%;
}

#reservations {
    display: table;
    width: 100%;

    #map, .as-calendar {
        display: table-cell;
    }

    #map {
        margin-left: -1.5em;
    }
}
