html, body {
    height: 100%;
    margin: 0;
}

body > .ember-view {
    height: 100%;
    max-width: 65em;
    margin: auto;
}

#reservations, #map {
    height: 100%;
}

#reservations #map {
    height: 50%;
}
