@import 'addons/ember-calendar/main';

html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

body > .ember-view {
    height: 100%;
    max-width: 65em;
    margin: auto;
    padding-top: 1.5em;
}

#reservations, #map {
    height: 100%;
}

#reservations #map {
    width: 95%;
    max-height: 45%;
}

#reservations #calendar {
    width: 75%;
    max-height: 100%;
}

#reservations .as-calendar {
    max-height: 100%;
    overflow: auto;
    
    li:nth-child(5), li:nth-child(6), li:nth-child(7) {
        display: none;
    }

    .as-calendar-timetable {
        .day-labels, .days {
            li {
                width: (100 / 4 / 100) * 100%;
            }
        }
    }
}

#reservations {
    display: table;
    width: 100%;

    & > * {
        display: table-cell;
        vertical-align: top;
    }
}
