@import 'addons/ember-calendar/main';

html, body {
    height: 100%;
    margin: 0;
}

body > .ember-view {
    height: 100%;
    max-width: 65em;
    margin: auto;
}

#reservations, #map {
    height: 100%;
}

#reservations #map, #reservations .un-calendar {
    height: 50%;
    max-width: 50%;
}

#reservations .un-calendar {
    max-width: 40%;
}
